body {
  background-color: #082254;
}
h2 {
  color: #FF4655;
  font-size: 250%;
  font-family: arial;
  text-decoration-line: overline;
  letter-spacing: 6px;
  text-transform: uppercase;
  
}
img {
  width: 40%;
   border-radius: 20%;
}
img:hover {
  width: 42%;
}

ul {
  list-style-type:none;
  background-color:#FF4655;
  width: 450px;
  height: 35px;
  left: 0;
  top: 0;
  position: fixed;
  
}

li {
  display: inline;
  padding: 2.9%;
  font-size: 160%;
  font-family: arial;
  font-weight: bold;
} 

a {
  color: #FFFFFF;
}

a:hover {
  color: #D3D3D3;
}
