body {
  background-color: #082254;
}
h2 {
  color: #33ff9d;
  font-size: 250%;
  font-family: arial;
  text-decoration-line: overline;
  letter-spacing: 6px;
  text-transform: uppercase;
   padding: 2%;
  
}
img {
  width: 40%;
   border-radius: 20%;
}
img:hover {
  width: 42%;
}
